body {
  font-family: helvetica;
  max-width: 600px;
  margin:0 auto;
  color:white;
  background-color: rgba(20,100,20,1);
}
p {
  }
h1 {
	font-family: helvetica;
	color:rgba(100,100,250,1);
}
h2 {
	color:rgba(100,100,150,1);
}
h3 {
	color:black;
}
p {
	
}